.moviecardlist {
  max-width: 1280px;
}

.moviecardlist-container {
  margin: 0 auto;
  padding: 70px 0 10px;
  width: calc(100% - 70px * 2);
}

/* .moviecardlist__items {
  margin: 0;
  padding: 0;
  column-gap: 24px;
  row-gap: 37px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(281px, 1fr));
  justify-items: center;
  list-style: none;
} */

.moviecardlist__more {
  padding: 60px 0 80px;
}

.moviecardlist__btn {
  padding: 10px 0;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: var(--color-gray);
  transition: 0.3s;
}

.moviecardlist__btn:hover {
  background-color: var(--color-hover-gray);
  transition: 0.3s;
}
