.moviecardlist-container {
  margin: 0 auto;
  padding: 70px 0 0;
  width: calc(100% - 70px * 2);
}

.moviecardlist__more {
  margin: 60px 0 80px;
}

.movie__more-btn {
  padding: 10px 0;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: var(--color-gray);
  transition: 0.3s;
}

.movie__more-btn:hover {
  background-color: var(--color-hover-gray);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .moviecardlist-container {
    width: calc(100% - 30px * 2);
  }

  .moviecardlist__more {
    margin: 80px 0 92px;
  }
}

@media screen and (max-width: 479px) {
  .moviecardlist-container {
    padding: 40px 0 0;
    width: calc(100% - 10px * 2);
  }
  .moviecardlist__more {
    margin: 77px 0 95px;
  }
}
