.promo-list {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  display: flex;
  gap: 10px;
  list-style: none;
}

.promo-list__link {
  padding: 10px 23px;
  background: #e8e8e8;
  transition: all 0.3s linear;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.link_effectbrg:hover {
  transition: all 0.3s linear;
  background: #cacaca;
}

/*  @media */

@media (min-width: 768px) and (max-width: 991px) {
  .promo-list {
    margin-bottom: 40px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .promo-list {
    margin-bottom: 17px;
    gap: 6px;
  }

  .promo-list__link {
    font-size: 10px;
    line-height: 16px;
    padding: 5px 15px;
  }
}
