.aboutme {
  max-width: 1280px;
}
.aboutme-container {
  margin: 0 auto;
  padding: 110px 0 125px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 70px * 2);
}

.aboutme__title {
  margin: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

.aboutme-info {
  margin: 66px 0 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutme-info-bio {
  max-width: 600px;
}
.aboutme-info-bio__name {
  margin: 0 0 18px;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}
.aboutme-info-bio__proff {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 20px;
}
.aboutme-info-bio__descr {
  margin: 0 0 99px;
  font-size: 14px;
  line-height: 22px;
}

.aboutme-info-bio__git {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.aboutme-info__photo {
  max-width: 270px;
  max-height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

.portfolio__title {
  margin: 0 0 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  margin-bottom: 19px;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__link {
  display: flex;
  align-content: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #000000;
}
.portfolio__link-arrow {
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
}
